<div class="container">
  <app-cockpit 
    (serverCreated)="onAddServerAdded($event)"
    (bpCreated)="onAddBlueprintAdded($event)"
  ></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click) = "onChangeFirst()">Change first Element</button>
      <button class="btn btn-danger" (click) = "onDestroyFirst()">Destroy first Component</button>
      <!-- 
        Binding to [srvElement] sends the serverElement value taken from the array of serverElements
        here in app.component.ts transmits the value to the child component. srvElement is an alias for 'element'. 
        IMPORTANT: By default, component properties are not accessible from outside of the component. 
        IMPORTANT: The alias is set by supplying a parameter for the @Input() decorator in server-element.component.ts like so:
          @Input('srvElement') 
      -->
      <app-server-element 
        *ngFor="let serverElement of serverElements"
        [srvElement]="serverElement"
        [name] = "serverElement.name">
        <p #contentParagraph>
          <strong *ngIf="serverElement.type === 'server'" style="color: red;">{{ serverElement.content }}</strong>
          <!-- the em element results in italics -->
          <em *ngIf="serverElement.type === 'blueprint'">{{ serverElement.content }}</em>
        </p>
      </app-server-element>
    </div>
  </div>
</div>
