<div class="container">

    <app-game-control
      (startEvent) = "onStartEvent($event)"
    ></app-game-control>
    <app-even-control
      *ngFor="let evenComp of gameComponents"
      [even]="evenComp">
        <p #evenParagraph>
          <strong *ngIf="evenComp.type === 'even'" style="color: red;">Even - {{ evenComp.time }}</strong>
        </p>    
    </app-even-control>
    
    <app-odd-control
      *ngFor="let oddComp of gameComponents"
      [odd]="oddComp">
      <p #oddParagraph>
        <strong *ngIf="oddComp.type === 'odd'" style="color: blue;">Odd - {{ oddComp.time }}</strong>
      </p>
    </app-odd-control>
</div>