<label for="serverName">Server:</label>
<!-- <input 
	id="serverName"
	type="text"
	class="form-control"
	(input)="onUpdateServerName($event)"> -->
<input 
	id="serverName"
	type="text"
	class="form-control"
	[(ngModel)]="serverName">
<!-- <p>{{serverName}}</p> -->
<button 
	class="btn btn-primary" 
	[disabled] = "!allowNewServer" 
	#myInput 
	(click)="onCreateServer(myInput)" >Add Server</button>
<!-- <p [innerText]="allowNewServer"></p> -->
<p *ngIf="serverCreated; else noServer">{{serverCreationStatus}}</p>
<ng-template #noServer>
	<p> No server was created!	</p>
</ng-template>
<app-server></app-server>
<app-server></app-server>
